body {
  background-color: burlywood;
}

#root {
  width: 1200px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}

#root p {
  font-size: 2em;
}

input {
  margin-right: 10px;
}

button {
  padding: 5px;
  background-color: azure;
}